@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Barlow:wght@200&family=Comforter+Brush&family=Montserrat:wght@200&family=Rajdhani:wght@400;500&display=swap");

body {
  font-family: "Barlow", sans-serif;
  width: 100%;
  height: 100%;
  color: black;
}

h1 {
  margin: 10px;
}

.inicio-juego {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  border: rgb(184, 245, 92) solid;
  margin: 40px 80px 10px 80px;
  border-radius: 5px;
  font-size: 40px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  border: rgb(184, 245, 92) solid;
  margin: 15px 80px 10px 80px;
  border-radius: 5px;
  font-size: 40px;
}

#abecedario {
  border: rgb(184, 245, 92) solid;
  background-color: rgb(205, 247, 144);
  border-radius: 5px;
  margin: 0px 40px 0px 40px;
  padding: 10px;
  font-size: 40px;
  text-align: center;
}

#alinar-img-equiv-guiones {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#letras {
  font-size: 40px;
  margin-right: 40px;
}

#imagenes,
.img-portada {
  display: block;
  height: 300px;
  width: 300px;
  padding: 10px 20px 0px 20px;
}

.conten-img {
  position: relative;
  display: flex;
  margin-left: 40px;
}

.vidas-img {
  position: absolute;
  top: 10px;
  font-size: 40px;
}

#equivocadas {
  font-size: 30px;
  color: rgb(248, 36, 71);
}

.btn-game, #btn-new-game {
  
  background-color: rgb(184, 245, 92);
  border-radius: 5px;
  border: none;
  font-size: 40px;
  padding: 8px;
  font-family: "Barlow", sans-serif;
}

#btn-new-game{
display: none;
}

#foot {
  font-size: 15px;
  padding: 20px 0px 10px 0px;
}


 @media(max-width: 600px) {

  .contenedor {
    margin: 5px 80px 5px 80px;
  }

  #abecedario, #equivocadas, #letras, .vidas-img, .btn-game, #btn-new-game{
    font-size: 28px;
  }
  h1 {
    font-size: 40px;
  }

  #alinar-img-equiv-guiones{
   display: flex;
   flex-direction: column;
  }
}

  
